{{!-- src\mail\templates\car-rentals-admin.hbs --}}
<h2>New Car Rental Form</h2>

<p><strong>Name:</strong> {{name}}</p>
<p><strong>Email:</strong> {{email}}</p>
<p><strong>Phone:</strong> {{phoneNumber}}</p>

<hr/>

<p><strong>Category:</strong> {{bookingCategory}}</p>
<p><strong>Model:</strong> {{bookingModel}}</p>

{{#if subModel}}
<p><strong>Variant:</strong> {{subModel}}</p>
{{/if}}

<p><strong>Pickup Date:</strong> {{pickupDate}}</p>
<p><strong>Dropoff Date:</strong> {{dropoffDate}}</p>

<hr/>

<p><strong>Notes:</strong></p>
<p>{{notes}}</p>

<br/>
<p>Year: {{year}}</p>
