{{!-- src\mail\templates\job-application-admin.hbs --}}
<h2>New Job Application</h2>

<p><strong>Name:</strong> {{name}}</p>
<p><strong>Email:</strong> {{email}}</p>
<p><strong>Phone:</strong> {{phone}}</p>
<p><strong>Address:</strong> {{address}}</p>
<p><strong>Position:</strong> {{jobTitle}}</p>

<p><strong>Cover Letter:</strong></p>
<p>{{coverLetter}}</p>

<p>CV attached: {{cvFileName}}</p>