{{!-- New Manpower Request Notification --}}
{{!-- src\mail\templates\mo-services-admin.hbs --}}

<h3>New Manpower Request Received</h3>
<p><strong>Name:</strong> {{name}}</p>
<p><strong>Email:</strong> {{email}}</p>
<p><strong>Phone:</strong> {{phoneNumber}}</p>

<hr/>
<p><strong>Company:</strong> {{companyName}}</p>
<p><strong>Industry:</strong> {{industry}}</p>
<p><strong>Staff Needed:</strong> {{staff}}</p>
<p><strong>Duration:</strong> {{duration}}</p>
<p><strong>Details:</strong></p>
<p>{{details}}</p>