{{!-- src\mail\templates\verification-service-admin.hbs --}}
<h2>New Verification Service Request</h2>

<p>A new verification service request has been submitted, kindly check the details below</p>
<hr/>
<p><strong>Name:</strong> {{name}}</p>
<p><strong>Email:</strong> {{email}}</p>
<p><strong>Company:</strong> {{company}}</p>
<p><strong>Service Type:</strong> {{serviceType}}</p>
<p><strong>Message:</strong> {{message}}</p>
